---
layout: main
---

<main class="home no-padding" role="main">
    <!-- Hero -->
    <section class="hero" style="background-image: url('{{ site.baseurl }}/assets/img/Pieter Abrahams Cameraman.jpg')">
        <div class="pixels"></div>
        <div class="gradient"></div>
        <div class="content">
            <h1 class="title">Pieter Abrahams</h1>
            <p class="description">Cameraman</p>
        </div>
    </section>

    <!-- Video's -->
    <section id="videos" class="row flex-grid">
        <div class="video">
            <iframe src="https://player.vimeo.com/video/988143836" width="1920" height="1080" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            <h3 class="video-title">Video Titel</h3>
        </div>
        <div class="video">
            <iframe src="https://player.vimeo.com/video/978400706   " width="1920" height="1080" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            <h3 class="video-title">Video Titel</h3>
        

</div>
</section>
</main>
